/*geral*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
    transition: 0.2s linear;
}

html::-webkit-scrollbar {
    overflow-y: hidden;
    display: none;
}

body {
    background: #F6F6F6;
    overflow-x: hidden;
    position: relative;
}


/*header*/

header {
    height: 100px;
    position: fixed;
    background-color: #F6F6F6;
    width: 100vw;
    z-index: 1;
    box-shadow: 0px 2px 10px 2px rgba(232, 81, 40, 0.3);
}

#divHeader {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#menuMobile {
    
}

#menuLinks{
    list-style: none;
    display: none;
    width: auto;
    height: auto;
    background-color: #F6F6F6;
    box-shadow: 2px 2px 10px 2px rgba(232, 81, 40, 0.3);
    z-index: 2;
}

.linkMobile {
    
}

#menuPequeno{
    display: block;
}

#menuGrande{
    display: block;
}

#menuMobile{
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 3;
    background-color: #F6F6F6;
    position: absolute;
    padding-left: 10px;
    left: 0;
}
#menuMobile:hover ~ #menuLinks {
    display:block;
    position: absolute;
    top: 97px;
    left: 0;
}

.link {
    margin: 5px 10px; 
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#busca {
    width: 530px;
    height: 40px;
    border-radius: 100px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#busca input {
    width: 475px;
    height: 15px;
    border: none;
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}

#linkBusca {
    border-radius: 100%;
    margin-right: 5px;
}

#iconBusca {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #740303;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 15px 10px rgba(232, 81, 40, 0.3));
}

#linkBuscaMobile {
    display: none;
}

#boxHeader {
    height: 40px;
    width: 194px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aCarrinho {
    border-radius: 100%;
}

#carrinho {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(116, 3, 3, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrinho img {
    color: #740303;
}

#linkAvatar {
    border-radius: 100%;
}

#avatar {
    display: flex;
}

#texto {
    max-width: 95px;
}

#nome {
    height: 15px;
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#pedidos {
    height: 15px;
    color: rgba(32, 32, 32, 0.6);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*main*/

#atrasHeader {
    height: 100px;
}

#divBanner {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#bannerPc {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bannerMobile {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#divMain {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 44px;
}

.container {
    border-radius: 20px;
    background: #FFF;
    width: auto;
    padding: 15px;
    display: flex;
    justify-content:baseline;
    align-items: center;
    flex-wrap: wrap;
}

.boxImgMobile {
    display: none;
}

.boxImgPc {
    width: 220px;
    height: 328px;
    border-radius: 20px;
}

.box {
    width: 230px;
    height: 328px;
    border-radius: 20px;
    margin-left: 7.5px;
}

.box:hover {
    background-color: rgba(116, 3, 3, 0.10);
}

.boxInterna {
    width: 210px;
    height: 308px;
    margin: 10px 10px;
    position: relative;
}

.boxItem {
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
}

.item {
    width: 160px;
    margin-top: 15px;
}

.detalhe {
    color: #FFF;
    border-radius: 100px;
    background: #740303;
    width: 210px;
    height: 40px;
    margin-top: -40px;
    position: relative;
    display: none;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.box:hover .detalhe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoes {
    width: 210px;
}

.estrela {
    margin-top: 20px;
    margin-bottom: 10px;
}

.paragrafos {
    width: 150px;
    display: inline-block;
}

.descricao {
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 150px;
    height: 30px;
}

.preco {
    margin: 10px 0;
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.carrinho {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(116, 3, 3, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    
}

#containerMeio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.bannerPcMeio {
    max-width: 50%;
}

.bannerMobileMeio {
    display: none;
    width: 100vw;
}

/*footer*/

footer {
    width: 100vw;
    height: 100px;
    padding-top: 41px;
}

#boxFooter1 {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#logoFooter {
    margin: auto;
}

#boxFooter2 {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#direitos {
    color: rgba(32, 32, 32, 0.6);
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 200% */
}

/*media*/

@media (max-width: 1200px) {

    #divMain {
        max-width: 962.5px;
    }
}

@media (max-width: 1000px) {

    /*header*/

    header {
        height: 100px;
    }

    #divHeader {
        width: calc(100vw - 20px);
        height: 100px;
        justify-content: space-between;
        margin: 0 10px;
    }

    #menuButton{
        width: 160px;
    }

    .linkPc {
        display: none;
    }

    #menuPc {
        display: none;
    }

    #menuPequeno {
        display: none;
    }

    #menuGrande {
        margin-left: 16.5px;
        display: block;
    }

    #boxHeader {
        height: 40px;
        width: 160px;
    }

    #carrinho {
        width: 40px;
        height: 40px;
    }

    #avatar {
        width: 40px;
        height: 40px;
    }

    #busca {
        display: none;
    }

    #linkBuscaMobile {
        display: inline;
        border-radius: 100%;
        width: 40px;
        height: 40px;
    }

    #iconBuscaMobile {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #740303;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #texto {
        display: none;
    }

    /*main*/

    #divMain {
        width: 100vw;
    }

    .container {
        border-radius: 20px;
    }

    #containerMeio {
        margin: 40px 0;
        flex-wrap: wrap;
    }

}

@media (max-width: 962.5px){
    #divMain {
        max-width: 725px;
    }
}

@media (max-width: 900px) {

    #divBanner {
        max-height: 300px;
    }
}

@media (max-width: 725px){
    #divMain {
        max-width: 510px;
    }
}

@media (max-width: 680px) {

    #divBanner {
        max-height: 200px;
    }

}

@media (max-width: 510px) {

    /*header*/

    header {
        height: 40px;
    }

    #divHeader {
        width: calc(100vw - 20px);
        height: 40px;
        justify-content: space-between;
        margin: 0 10px;
    }

    .linkPc {
        display: none;
    }

    #menuPc {
        display: none;
    }

    #menuPequeno {
        display: block;
    }

    #menuGrande {
        display: none;
    }

    #menuButton{
        width: 76px;
    }

    #menu:hover #menuMobile {
        display: block;
    }

    #boxHeader {
        height: 20px;
        width: 76px;
    }

    #carrinho {
        width: 20px;
        height: 20px;
    }

    #avatar {
        width: 20px;
        height: 20px;
    }

    #busca {
        display: none;
    }

    #linkBuscaMobile {
        width: 20px;
        height: 20px;
    }

    #iconBuscaMobile {
        width: 20px;
        height: 20px;
    }

    #iconBuscaMobile img {
        width: 8px;
    }

    #texto {
        display: none;
    }

    /*main*/

    #atrasHeader {
        height: 40px;
    }

    #divMain {
        max-width: 1200px;
    }

    .container {
        overflow: scroll;
        justify-content:space-between;
        flex-wrap: nowrap;
    }

    #containerMeio {
        margin: 40px 0 30px 0;
        flex-wrap: wrap;
    }

    .bannerPcMeio {
        max-width: 100vw;
    }

    .bannerPcMeio:first-child {
        margin-bottom: 10px;
    }
}

@media(max-width: 450px) {

    #divBanner {
        max-height: 100px;
    }
}

@media (max-width: 360px) {

    /*main*/

    #divBanner {
        max-height: 286px;
    }

    #bannerPc {
        display: none;
    }

    #bannerMobile {
        display: block;
    }

    .container {
        height: 284px;
        padding: 10px;
        border-radius: 0 0 20px 20px;
    }

    .boxImgPc {
        display: none;
    }

    .boxImgMobile {
        display: block;
        width: 100vw;
    }

    .box {
        width: 170px;
        height: 264px;
        background-color: rgba(116, 3, 3, 0.10);
    }

    .box:first-of-type{
        margin-left: 0;
    }

    .boxInterna {
        width: 150px;
        height: 244px;
    }

    .boxItem {
        height: 150px;
        width: 150px;
    }

    .item {
        width: 120px;
        margin-top: 11px;
    }

    .detalhe {
        width: 150px;
        height: 35px;
        margin-top: -35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
    }

    .informacoes {
        width: 150px;
    }

    .estrela {
        margin-top: 14px;
    }

    .paragrafos {
        width: 123px;
    }

    .descricao {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 123px;
    }

    .preco {
        margin: 14px 0 10px 0;
        font-size: 11px;
    }

    .carrinho {
        width: 25px;
        height: 25px;
        margin-top: 31px;
    }

    .bannerPcMeio {
        display: none;
    }

    .bannerMobileMeio {
        display: block;
    }

    .bannerMobileMeio {
        margin-bottom: 10px;
    }

}
