/*geral*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
    transition: 0.2s linear;
}

html::-webkit-scrollbar {
    overflow-y: hidden;
    display: none;
}

body {
    background: #F6F6F6;
    overflow-x: hidden;
}


/*header*/

header {
    height: 100px;
    position: fixed;
    background-color: #F6F6F6;
    width: 100vw;
    z-index: 1;
}

#divHeader {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#menuMobile {
    list-style: none;
    display: none;
}

.link {
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#busca {
    width: 530px;
    height: 40px;
    border-radius: 100px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#busca input {
    width: 475px;
    height: 15px;
    border: none;
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}

#linkBusca {
    border-radius: 100%;
    margin-right: 5px;
}

#iconBusca {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #740303;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 15px 10px rgba(232, 81, 40, 0.3));
}

#boxHeader {
    height: 40px;
    width: 194px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aCarrinho {
    border-radius: 100%;
}

#carrinho {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(116, 3, 3, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrinho img {
    color: #740303;
}

#linkAvatar {
    border-radius: 100%;
}

#avatar {
    display: flex;
}

#texto {
    max-width: 95px;
}

#nome {
    height: 15px;
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#pedidos {
    height: 15px;
    color: rgba(32, 32, 32, 0.6);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*main*/

#atrasHeader {
    height: 100px;
}

#divMain {
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 44px;
}

#bannerPc {
    width: 100vw;
}

#bannerMobile {
    display: none;
}

.container {
    border-radius: 20px;
    background: #FFF;
    width: 100%;
    height: 358px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.boxImg {
    width: 220px;
    height: 328px;
    border-radius: 20px;
}

.box {
    width: 230px;
    height: 328px;
    border-radius: 20px;
}

.box:hover {
    background-color: rgba(116, 3, 3, 0.10);
}

.boxInterna {
    width: 210px;
    height: 308px;
    margin: 10px 10px;
}

.boxItem {
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
}

.item {
    width: 160px;
    margin-top: 15px;
}

.detalhe {
    color: #FFF;
    border-radius: 100px;
    background: #740303;
    width: 210px;
    height: 40px;
    margin-top: -40px;
    position: relative;
    display: none;
}

.box:hover .detalhe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoes {
    width: 210px;
}

.estrela {
    margin-top: 20px;
    margin-bottom: 10px;
}

.paragrafos {
    width: 150px;
    display: inline-block;
}

.descricao {
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 150px;
    height: 30px;
}

.preco {
    margin: 10px 0;
    color: #202020;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.carrinho {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(116, 3, 3, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 15px;
}

#containerMeio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

/*footer*/

footer {
    width: 100vw;
    height: 100px;
    padding-top: 41px;
}

#boxFooter1 {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#logoFooter {
    margin: auto;
}

#boxFooter2 {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#direitos {
    color: rgba(32, 32, 32, 0.6);
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 200% */
}

/*media*/

@media (max-width: 360px) {

    /*header*/

    .linkPC {
        display: none;
    }

    #menuMobile {
        display: block;
    }

    /*main*/

    #bannerMobile{
        display: block;
    }

}